html {
  height: 100%;
}
body {
  text-align: center;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#app1 {
  height: 100vh;
}
.toasty {
  right: -200px;
}
.toasty.on {
  right: 0px;
}
