@uidcolor:#b5b5b5;
@hudcolor: rgba(0, 0, 0, 0.6);
@bodybackground: rgba(0, 0, 0, 1);
@miss: rgba(255, 0, 0, 1);
.uidactive() {
    box-shadow:none;
    background-color:#FFFFFF;
    color:#000000;
}
.noselect() {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.boxes() {
    border:1px solid @uidcolor;
    border-radius: 4px;
    .noselect;
    &.dragging {
        background-color: @uidcolor;
    }
}
.hud {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        border-radius: 6px;
        font-size: 5vh;
        font-weight: bold;
        padding: 20px;
    }
    .miss {
      color: red;
    }
    .hits {
      color: #6bc26b;
    }
}
html {
    height: 100vh;
    overflow: hidden;
}
body {
    color: @uidcolor;
    font-size: 0.8em;
    font-family: sans-serif;
    height: 100vh;
    margin: 0px;
    overflow:hidden;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app1 {
    height: 100vh;
    display: flex;
    justify-self: center;
    align-self: center;
    /* display: grid;
    grid-template-rows:2fr 1fr;
    grid-template-columns:1fr;
    grid-template-areas:
    'background'
    'uikeyboard'; */
}

.letter {
}
